p Hi,
p #{inviter} has added you as a collaborator on BrowserSwarm.com for #{display_name}

p You will now see the status of #{display_name} when you login to BrowserSwarm and you will receive build status notifications via email.

p Regards, 

p 
  a(href="http://striderapp.com") BrowserSwarm.com
  br
