| Hi,
| #{inviter} has added you as a collaborator on BrowserSwarm.com for #{display_name}

| You will now see the status of this project when you login to BrowserSwarm and you will receive build status notifications via email.

| Regards, 

| BrowserSwarm.com
